@page "/coursespage"

<h3>Courses</h3>


<div class="courses-nav">
    <NavLink class="nav-link menu-link" href="courses/add-course" Match="NavLinkMatch.Prefix">Add Course</NavLink>
    <NavLink class="nav-link menu-link" href="courses/view-courses" Match="NavLinkMatch.Prefix">View Courses</NavLink>
    <NavLink class="nav-link menu-link" href="courses/authors-list" Match="NavLinkMatch.Prefix">List Authors</NavLink>
</div>

@code {

}

