body {
    font-family: Arial, sans-serif;
}


.courses-nav {
    /* Style the navigation menu */
    background-color: var(--gray-100);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 6px;
}

    .courses-nav .nav-link {
        /* Style the navigation links */
        color: var(--gray-700);
        text-decoration: none;
        margin-right: 1em;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        transition: color 0.25s ease-in-out;
    }

        .courses-nav .nav-link.active {
            /* Style the active navigation link */
            color: var(--theme);
            text-decoration: none;
        }
