@page "/coursespage"

<PageTitle>Manage courses</PageTitle>

<h3>Manage courses</h3>


<div class="courses-nav">
    <NavLink class="nav-link menu-link" href="courses/add-course" Match="NavLinkMatch.Prefix">Add Course</NavLink>
    <NavLink class="nav-link menu-link" href="courses/view-courses" Match="NavLinkMatch.Prefix">View Courses</NavLink>
   
</div>

@code {

}

