body {
    font-family: Arial, sans-serif;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    max-width: 33rem;
    width: 100%;
}

    .input-group label {
        font-size: 16px;
        color: var(--gray-700);
        margin-bottom: 0.5rem;
    }

    .input-group input,
    .input-group textarea {
        padding: 0.5rem;
        border-radius: 10px;
        border: 1px solid var(--gray-300);
        background-color: var(--gray-000);
        color: var(--gray-900);
        font-weight: 500;
        width: 100%;
    }

    .input-group textarea {
        height: 5rem;
    }

.btn-theme {
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    padding: 8px 28px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #6366F1;
    color: #FFFFFF;
    border: none;
}

    .btn-theme:hover {
        text-decoration: none;
        background: #565973;
        color: #FFFFFF;
    }
