@page "/add-course"


<PageTitle>Add a course</PageTitle>

<h3>Add Course</h3>


<EditForm model="@course" OnValidSubmit="SubmitForm">
	<DataAnnotationsValidator />
	<ValidationSummary />

	<div class="input-group">
		<label for="title">Title: </label>
		<InputText id="title" @bind-Value="course.Title" />
	</div>

	<div class="input-group">
		<label for="author">Author:</label>
		<InputText id="author" @bind-Value="authorsAsString" @bind-Value:event="oninput" />
	</div>

	<div class="input-group">
		<label for="authorImage">Author Image:</label>
		<InputFile id="authorImage" OnChange="HandleAuthorImageChange" />
	</div>
	<div class="input-group">
		<label for="ingress">Ingress: </label>
		<InputTextArea id="ingress" @bind-Value="course.Ingress" />
	</div>

	<div class="input-group">
		<label for="star rating">Star rating: </label>
		<InputNumber id="starRating" @bind-Value="course.StarRating" />
	</div>

	<div class="input-group">
		<label for="reviews">Reviews: </label>
		<InputText id="reviews" @bind-Value="course.Reviews" />
	</div>

	<div class="input-group">
		<label for="likes">Likes: </label>
		<InputText id="likes" @bind-Value="course.Likes" />
	</div>

	<div class="input-group">
		<label for="likesinpercent">Likes in percent: </label>
		<InputText id="likesInPercent" @bind-Value="course.LikesInPercent" />
	</div>

	<div class="input-group">
		<label for="hours">Hours: </label>
		<InputNumber id="hours" @bind-Value="course.Hours" />
	</div>

	<div class="input-group">
		<label for="currency">Currency: </label>
		<InputText id="currency" @bind-Value="course.Prices.Currency" />
	</div>

	<div class="input-group">
		<label for="price">Price: </label>
		<InputNumber id="price" @bind-Value="course.Prices.Price" />
	</div>

	<div class="input-group">
		<label for="discount">Discount: </label>
		<InputNumber id="discount" @bind-Value="course.Prices.Discount" />
	</div>

	<div class="input-group">
		<label for="description">Description: </label>
		<InputTextArea id="description" @bind-Value="course.Content.Description" />
	</div>

	<div class="input-group">
		<label for="includes">Includes: </label>
		<InputText id="includes" @bind-Value="course.Content.IncludesAsString" />
	</div>



	<InputFile id="image" OnChange="HandleFileChange" />


	<button class="btn-theme" type="submit">Add course</button>

</EditForm>

@code {
	private Course course = new Course();
	private string authorImage;
	private string authorsAsString

	{
		get => string.Join(", ", course.Authors);
		set => course.Authors = value.Split(',').Select(s => s.Trim()).ToArray();
	}

	private void SubmitForm()
	{
		// try
		// {


		// }
		// catch
		// {

		// }
	}

	private void HandleFileChange(InputFileChangeEventArgs e)
	{
		var imageFile = e.File;

	}
	private void HandleAuthorImageChange(InputFileChangeEventArgs e)
	{
		var imageFile = e.File;

	}
}