@page "/courses/add-course"
@using Newtonsoft.Json
@using SiliconBackoffice.Handlers
@inject ServiceBusHandler ServiceBusHandler

<PageTitle>Add a course</PageTitle>

<h3>Add Course</h3>

<EditForm model="@courseCreateRequest" OnValidSubmit="SubmitForm">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="input-group">
        <label for="title">Title: </label>
        <InputText id="title" @bind-Value="courseCreateRequest.Title" />
    </div>

    <div class="input-group">
        <label for="ingress">Ingress: </label>
        <InputTextArea id="ingress" @bind-Value="courseCreateRequest.Ingress" />
    </div>

    <div class="input-group">
        <label for="starRating">Star Rating: </label>
        <InputNumber id="starRating" @bind-Value="courseCreateRequest.StarRating" />
    </div>

    <div class="input-group">
        <label for="reviews">Reviews: </label>
        <InputText id="reviews" @bind-Value="courseCreateRequest.Reviews" />
    </div>

    <div class="input-group">
        <label for="likes">Likes: </label>
        <InputText id="likes" @bind-Value="courseCreateRequest.Likes" />
    </div>

    <div class="input-group">
        <label for="likesInPercent">Likes in Percent: </label>
        <InputText id="likesInPercent" @bind-Value="courseCreateRequest.LikesInPercent" />
    </div>

    <div class="input-group">
        <label for="hours">Hours: </label>
        <InputText id="hours" @bind-Value="courseCreateRequest.Hours" />
    </div>

    
    <!-- Prices Section -->
    <div class="input-group">
        <h4>Prices</h4>

        <label for="currency">Currency: </label>
        <InputText id="currency" @bind-Value="courseCreateRequest.Prices.Currency" />

        <label for="price">Price: </label>
        <InputNumber id="price" @bind-Value="courseCreateRequest.Prices.Price" />

        <label for="discount">Discount: </label>
        <InputNumber id="discount" @bind-Value="courseCreateRequest.Prices.Discount" />
    </div>

    <!-- Content Section -->
    <div class="input-group">
        <h4>Content</h4>

        <label for="description">Description: </label>
        <InputTextArea id="description" @bind-Value="courseCreateRequest.Content.Description" />

        
        <label for="includes">Includes: </label>
        <InputText id="includes" @bind-Value="includesAsString" />
    </div>

    <!-- Authors Section -->
   <div class="input-group">
    <h4>Authors</h4>

    <AuthorList Authors="courseCreateRequest.Authors" AuthorsChanged="UpdateAuthors" />
</div>
    <!-- ... -->

    <button class="btn-theme" type="submit">Add course</button>
</EditForm>


@code {
    private string message;

    private CourseCreateRequest courseCreateRequest = new CourseCreateRequest
        {
            Prices = new CourseCreateRequest.PricesCreateRequest(),
            Content = new CourseCreateRequest.ContentCreateRequest
            {

            ProgramDetails = new List<CourseCreateRequest.ProgramDetailItemCreateRequest>()
            },

            Authors = new List<CourseCreateRequest.AuthorCreateRequest>(),


        };




    public async Task SubmitForm()
    {
        if (courseCreateRequest != null)
        {
            var json = JsonConvert.SerializeObject(courseCreateRequest);
            var result = await ServiceBusHandler.PublishAsync(json);


            if (result.StatusCode == 200)
            {
                message = "Course was successfully added.";
            }
            else
            {
                message = "Failed to add the course. Please try again.";
            }
        }
    }

    private void HandleFileChange(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        
    }

    private void HandleAuthorImageChange(InputFileChangeEventArgs e)
    {
        var imageFile = e.File;
        
    }
    private void UpdateAuthors(List<CourseCreateRequest.AuthorCreateRequest> authors)
    {
        courseCreateRequest.Authors = authors;
    }
    string includesAsString
    {
        get => string.Join(", ", courseCreateRequest.Content.Includes ?? new string[0]);
        set => courseCreateRequest.Content.Includes = value.Split(',').Select(s => s.Trim()).ToArray();
    }
}
