@page "/courses"
@inject GraphQLService GraphQLService

<h3>Courses</h3>

@if (courses == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ul>
        @foreach (var course in courses)
        {
            <li>@course.Title</li>
        }
    </ul>
}

@code {
    private List<Course> courses;

    protected override async Task OnInitializedAsync()
    {
        courses = await GraphQLService.GetCoursesAsync();
    }
}

